<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="assets/css/Template.css" >
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<title>Template</title>
</head>
<body>

<div class="header">
<img src="logo.png" alt="">
</div>
<nav class="nav">
<div class="nav">
<ul class ="center">
   <li>
       <a href= "#">
           <div class="icon">
               <i class = "fa fa-home" .aria-hidden="true"></i>
            </div>
            <div class="name" .data-text="HOME">HOME</div.>
       </a>
   </li>
<li>
    <a href= "#">
        <div class="icon">
            <i class = "fa fa-cogs"></i>
        </div>
        <div class="name" .data-text="FEATURES">FEATURES</div>
    </a>
</li>
<li>
    <a href= "#">
      <div class="icon">
        <i class ="fa fa-files-o" aria-hidden="true"></i>
      </div>
    <div class="name" .data-text="PAGES">PAGES</div>
     </a>
</li>
<li>
    <a href= "#">
        <div class="icon">
            <i class ="fa fa-th" aria-hidden="true"></i>
        </div>
        <div class="name" .data-text="PORTFOLIO">PORTFOLIO</div>
    </a>
</li>
<li>
    <a href= "#">
        <div class="icon">
            <i class ="fa fa-font" aria-hidden="true"></i>
        </div>
        <div class="name" .data-text="BLOG">BLOG</div> 
    </a>
</li>
<li>
    <a href= "#">
        <div class="icon">
            <i class = "fa fa-comment-o" aria-hidden="true"></i>
        </div>
        <div class="name" .data-text="CONTACT">CONTACT</div>
    </a>
</li>
</ul>
</div>
</nav>

</body>
</html>
