body {
	background-image: url(1.jpg);
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size:17px;
  font-weight:bold;
	
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 300px;

*{
	border:0;
	margin:0;
	padding:0;
	outline:0;
}
	
	nav{
		background:none;
		min-height:59px;
		overflow:auto;
	}
	
	nav left{
		float:left;
		margin-left:3em;
	}
	
	ul{
		list-style:none;
	}
	nav left li{
		float:left;
		
	}
	
	a{
		display:none;
		padding:17px 20px;
		line-height:30px;
		color:none;
		text-decoration:none;
		font-size:17px;
		)
		
		nav left a: hover{
			background:none;
		}
		